# Midnight Network Preprod Configurations
PREPROD_INDEXER_URL=https://indexer.preprod.midnight.network/api/v3/graphql
PREPROD_INDEXER_WS_URL=wss://indexer.preprod.midnight.network/api/v3/graphql/ws
PREPROD_RPC_URL=https://rpc.preprod.midnight.network
PREPROD_PROOF_SERVER_URL=http://127.0.0.1:6300

# Private Keystore Configurations
# Hex-encoded 32-byte BIP39 derived seed for the CLI wallet (Optional - random seed generated if empty)
WALLET_SEED=

# Deployed Contract Address on Preprod (Fill after deploy)
PREPROD_CONTRACT_ADDRESS=
